//get button from requested link

var bitlyButton = document.querySelector(`form[data="<%= @suplemento %>"]`)
bitlyButton.outerHTML = `<input id="C<%= @suplemento %>" class="form-control" value="<%= @link %>">
                         <button id="C<%= @suplemento %>BTN" class="btn btn-danger" data-clipboard-target="#C<%= @suplemento %>">
                            Copy
                         </button>`

var newBtn = document.getElementById('C<%= @suplemento %>BTN');
new Clipboard(newBtn)