//get button from requested link

var bitlyButton = document.querySelector(`form[data="<%= @suplemento %>"]`)
bitlyButton.outerHTML = `<p id="C<%= @suplemento %>" class="bitly"><%= @link %></p>
                         <button id="C<%= @suplemento %>BTN" class="btn btn-primary" data-clipboard-target="#C<%= @suplemento %>">
                            Copy
                         </button>`

var newBtn = document.getElementById('C<%= @suplemento %>BTN');
new Clipboard(newBtn)