<div class="grids mt-5">
    <% @suplementos.each do |suplemento|%>
        <div class="suple-card">
            <%= image_tag suplemento.store.logo, class: "suple-logo" %>
            <span class="suple-discount <%= (suplemento.discount && suplemento.discount > 0 ? 'positive' : 'negative') %>">
                <%= suplemento.discount ? suplemento.discount : 0 %><span class='percent'> %</span>
            </span>
            <%= link_to suplemento.link, class: "suple-summary" do %>
                <div class="suple-seller mb-2">
                    <h4><%= suplemento.seller %></h4>
                    <div class="suple-img-container">
                        <% unless suplemento.photo.nil? %>
                            <%= image_tag suplemento.photo %>
                        <% end %>
                    </div>
                    <hr class="mt-2">
                </div>
                <div class="suple-info">
                    <div class="suple-copy">
                        <p class="suple-name"><%= suplemento.name.truncate(50) %></p>
                        <% if suplemento.brand_code && suplemento.brand_code != "" %>
                            <%= image_tag "https://resources.saudifitness.com.br/resources/img/fabricante/#{suplemento.brand_code}.gif", class:"brand-logo" %>
                        <% else %>
                            <p class="suple-brand"><%= suplemento.brand %></p>   
                        <% end %>
                    </div>  
                        <p class="price">
                            <% if suplemento.promo == "SAVEWHEY11" %>
                               <%= number_with_precision((suplemento.price.fractional.to_f / 10000 ) * 0.89, precision: 2) %>
                            <% else %>
                               <%= number_with_precision((suplemento.price.fractional.to_f / 10000), precision: 2) %>
                            <% end %>
                            <span class='coin'> R$</span>
                        </p>
                </div>
                <div class="suple-promos">
                    <% unless suplemento.promo.nil? %>
                        <p class="suple-promo"><%= suplemento.promo %></p>    
                    <% end %> 
                    <% if suplemento.prime == true %>
                        <%= image_tag  "amz-prime.png", class: 'amz-prime-logo' %>
                    <% end %>               
                    <% if suplemento.supershipping == true %>
                        <%= image_tag  "super-shipping.png", class: 'super-shipping' %>
                    <% end %>
                </div>
            <% end %>   
            <%= render 'shared/bitly_generator', suplemento: suplemento %>  
        </div>
    <% end %>
</div>

<div class="pagination">
    <%= paginate @suplementos %>
</div>
