<div class="grids mt-5">
    <% @suplementos.each do |suplemento|%>
        <div class="suple-card">
            <%= image_tag suplemento.store.logo, class: "suple-logo" %>
            <span class="suple-discount">
                <%= suplemento.diff %><span class='percent'> %</span>
            </span>
            <%= link_to suplemento.link, class: "suple-summary" do %>
                <div class="suple-seller mb-2">
                    <h4><%= suplemento.seller %></h4>
                    <div class="suple-img-container">
                        <% unless suplemento.photo.nil? %>
                            <%= image_tag suplemento.photo %>
                        <% end %>
                    </div>
                    <hr class="mt-2">
                </div>
                <div class="suple-info">
                    <div class="suple-copy">
                        <p class="suple-name"><%= suplemento.name.truncate(50) %></p>
                        <p class="suple-brand"><%= suplemento.brand %></p>   
                    </div>
                    <p class="price"><%= (suplemento.price.fractional.to_f / 10000 ).to_d %><span class='coin'> R$</span></p>
                </div>
                <div class="suple-promos">
                    <% if suplemento.promo %>
                        <p class="suple-promo"><%= suplemento.promo %></p>
                    <% end %> 
                    <% if suplemento.prime == true %>
                        <%= image_tag  "amz-prime.png", class: 'amz-prime-logo' %>
                    <% end %>               
                    <% if suplemento.supershipping == true %>
                        <%= image_tag  "super-shipping.png", class: 'super-shipping' %>
                    <% end %>
                </div>
            <% end %>   
            <%= render 'shared/bitly_generator', suplemento: suplemento %>  
        </div>
    <% end %>
</div>

<div class="pagination">
    <%= paginate @suplementos %>
</div>
