<%= render "shared/search_form" %>
<div class="grids mt-2">
    <% @suplementos.each do |suplemento|%>
        <div class="suple-card">
            <%= link_to suplemento.link do %>
                <div class="suple-seller mb-2">
                    <h4><%= suplemento.seller %></h4>
                </div>
                <div class="suple-img-container">
                    <% unless suplemento.photo.nil? %>
                        <%= image_tag suplemento.photo %>
                    <% end %>
                </div>
                <hr>
                <div class="suple-info">
                    <p class="suple-name"><%= suplemento.name %></p>
                    <p class="suple-brand"><%= suplemento.brand %></p>   
                    <p class="price"><%= (suplemento.price.fractional.to_f / 10000 ).to_d %><span class='coin'> R$</span></p>
                    <% if suplemento.diff && params[:average] %>
                        <p class="price discount"><%= suplemento.diff %><span class='coin'> %</span></p>
                    <% end %>
                </div>
                <% if suplemento.promo %>
                    <p class="suple-seller"><%= suplemento.promo %></p>
                <% end %> 
                <% if suplemento.prime == true %>
                    <%= image_tag  "amz-prime.png", class: 'amz-prime-logo' %>
                <% end %>               
                <% if suplemento.supershipping == true %>
                    <%= image_tag  "super-shipping.png", class: 'super-shipping' %>
                <% end %>
            <% end %>   
            <%= render 'shared/bitly_generator', suplemento: suplemento %>  
        </div>
    <% end %>
</div>

<div class="pagination">
    <%= paginate @suplementos %>
</div>
