

<div class="search">
    <%= form_tag suplementos_path, method: :get do %>
        <%= text_field_tag :name,
        params[:name],
        class: "form-control query",
        placeholder: "Procurar suplemento.."
        %>  
        <%= select_tag :store, 
        options_from_collection_for_select(@stores, :id, :name), 
        id: "store-query",  
        class: "form-control query",
        prompt: "Select marketplace.." 
        %>
        <%= select_tag :seller, 
            options_from_collection_for_select(@sellers, :to_s, :to_s), 
            class: "form-control query",
            prompt: "Select store.."
        %>
        <%= select_tag :filters, 
            options_from_collection_for_select(@filters, :to_s, :to_s), 
            class: "form-control query",
            multiple: true,
            prompt: "Filter by..",
            class: "select2"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
</div> 