
<div class="landing" style="background-image: url(<%= image_path('10112174125-removebg-preview.png') %>)">
    <%= image_tag  "logo-white.png", class:'logo' %>
    <div class="buttons-container" data-aos="zoom-out-down" data-aos-duration="2000">
        <%= link_to 'http://bit.ly/app_savewhey', class:"cards" do %>
            <div class="content">
                <p>Faça o Download <br> do App</p>
            </div>
        <% end %>
        <%= link_to 'https://app.savewhey.com.br/', class:"cards" do %>
            <div class="content">
                <p>Acesse as Ofertas Online</p>
            </div>
        <% end %>
        <%= link_to 'https://t.me/joinchat/QIM9bBr4R3_ycQISUgTLKw', class:"cards" do %>
            <div class="content">
                <p>Entre no nosso grupo do Telegram</p>
            </div>
        <% end %>
        <%= mail_to 'savewhey@outlook.com', class:"cards" do %>
            <div class="content">
                <p>Entre em Contato Conosco</p>
            </div>
        <% end %>
    </div>
    <p class="footer">Encontre as melhores promoções de suplementos nas melhores lojas do país</p>
</div>